*{
  box-sizing: border-box;
  font-style: italic;
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  font-weight: 500;
  margin: 5px;
  padding: 50px ;

}
ul {
  list-style-type: none;
  color: black;
}
a{
  color: black;
  font-size: 24px;
  font-weight: bold;
  background-color: lavender;
  opacity: 1;
  border-bottom: 1px solid red;
  text-decoration: none;
}
#one , #two, #three, #four, #five, #six{
   color:green;
   font-size: 24px;
   font-weight: bold;
   background-color: lavender;
   opacity: 1;
   border-bottom: 1px solid red;
   text-decoration: none;
}
.big{
  color: brown;
  font-size: xx-large;
  font-weight: 800;
}
div > h3  {
  color: chocolate;
}

menu a:link, a:visited{
  color:  black;
  border: 2px solid black;
  background-color: aliceblue;
  margin: 5px;
  padding: 3px;
  text-align: center;
  justify-content: center;
}
 menu a:hover, a:active{
  font-size: xx-large;
  border-radius: 30px;
  padding: 10px;
  background-color: aqua;
  color: darkred;
 }
.num{
  color: brown;
  box-sizing: content-box;
  border: 2px solid green;
  width: 30px;
  text-align: center;
  margin: 5rem;
  cursor: pointer;
  background-color: aliceblue;

}
.num div:nth-child(odd):hover{
  cursor: pointer;
  background-color: black;
  color: red;
  font-size: xx-large;
}
.c {
  background-color: blue;
  font-size: xx-large;
  color: coral;
  width: 100px;
}
#six{
  width: 110px;
  border-style:solid ;
  margin: 0;
  padding: 0;
  border-color: crimson;
}
.one{
  float: left;
  background-color: aqua;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin:10px;
}
.two{
  float: right;
  background-color: red;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  color: darkkhaki;
  margin:10px;
}
.one{
  clear: both;
}
@media (min-width: 1200px) {
  .one{
    width: 50%;
    height: 200px;
    padding: 20px;

  }
  .two{
    width: 50%;
    height: 200px;
    padding: 20px;
    overflow: auto;
  }

}
@media (min-width: 992px) and (max-width:1199px) {
  .one{
    width: 50%;
    height: 100px;
    padding: 20px;
    background-image: url(../image/20191016_115939.png);
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
  }
  .two{
    width: 50%;
    height: 100px;
    padding: 20px;
    overflow: auto;

  }
}
@media (min-width: 400px) and (max-width:1002px) {
  .one {
    width: 50%;
    height: 100px;
    padding: 20px;
    overflow: auto;
  }
  .two {
    width: 50%;
    height: 100px;
    padding: 20px;
    overflow: auto;

  }
  span{
     font-size: xx-large;
     font-weight: bold;
     color: khaki;
  }
}
.row{
  margin-bottom: 15px;
}
.row > div{
  border-bottom: 1px solid darkgreen;
  background-color: brown;
 color: white;
}

.menu{
  text-align: center;
}
.chicken{
   background-color: red;
  border-bottom: 1px solid darkgreen;
   float: right;
   color: black;
}
.beef{
   background-color: white;
   border-bottom: 1px solid darkgreen;
   float: right;
   color: black;
}
.sushi{
  
    border-bottom: 1px solid darkgreen;
   float: right;
   color: black;
   padding-left: 0;
}

/* top menu */
.row  .col-md-4{
  border: 1px solid black;
}
h3{
 float: right;
}
p{
  clear: right;
}
h3{
 border-bottom: 1px solid darkgreen;
}